{% extends "base.html" %}

{% block title %}
  {{board.title}}
{% endblock %}

{% block content %}

<div class="container py-3">
  <h1 class="title"> Tasks de {{ board.title }}</h1>
  <div class="row g-3">
      {% for task in pending_tasks %}
      <div class="col-12 col-md-6 col-lg-4 py-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.description }}</p>
                <a href="#" class="btn btn-danger">{{ task.status }}</a>
            </div>
        </div>
      </div>
      {% endfor %}  
  </div>
</div>

<div class="container py-3">
  <div class="row g-3 py-3">
      {% for task in doing_tasks %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.description }}</p>
                <a href="#" class="btn btn-warning">{{ task.status }}</a>
            </div>
        </div>
      </div>
      {% endfor %}  
  </div>
</div>

<div class="container py-3">
  <div class="row g-3 py-3">
      {% for task in done_tasks %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.description }}</p>
                <a href="#" class="btn btn-success">{{ task.status }}</a>
            </div>
        </div>
      </div>
      {% endfor %}  
  </div>
</div>
<div class="container py-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTask">
    Add New Task
  </button>
  <a href="{% url 'homepage' %}" class="btn btn-primary" role="button">Back to Boards</a>
</div>

{% include "modals/new_task.html" %}

{% endblock %}

